.dinosaur {
}
.user {
}
.pane {
}
#bottom-pane {
}
#top-pane {
}

#defender-dino {
  float: left;
  width: 300px;
}
#battle-arena {
  height: 300px;
  width: 100%;
}
.dino-action {
  display: inline-block;
  padding: 25px;
  height: 60px;
  width: 90px;
  cursor: pointer;
  border: solid #003399 2px;
  border-radius: 5px;
}
.fight {
  cursor: pointer;
}
.hp-bar {
  padding: 24px 6px;
}
img {
  height: 200px;
  width: auto;
}
