.four-box {
  clear: both;
  margin-top: 12px;
}
.dinosaur {
}
.user {
}
.pane {
}
#bottom-pane {
}
#top-pane {
}
pre {
  font-family: monospace;
}

#defender-dino {
  float: left;
  width: 300px;
}
#aggressor-dino {
  float: right;
  width: 300px;
  text-align: right;
}
#battle-arena {
  height: 300px;
  width: 600px;
}
.dino-action {
  display: inline-block;
  padding: 25px;
  height: 60px;
  width: 90px;
  cursor: pointer;
  border: solid #003399 2px;
  border-radius: 5px;
}
.fight {
  cursor: pointer;
}
.hp-bar {
  padding: 24px 6px;
}
img {
  height: 200px;
  width: auto;
}
.message {
  position: absolute;
  top: 200px;
  right: 200px;
}
